<html th:replace="student/studentbase::layout(~{::section})">
	<head>
		
	</head>
	<body>
		<section>
			<div class="row p-5">
				<div class="col-sm-9 mx-auto">
					<div class="card w-100 text-center shadow py-4">
										<h1 style="color: orangered; font-family: monotype corsiva; font-style: italic; font-size: 40px;">Congratulations !!!</h1>
										<p style="font-size: 25px;">Your test has been submited successfuly <br/> Result will be decleared soon...</p>
										<br><br><br>
										<a href="stdhome" class="btn text-light w-25 text-center rounded-pill mx-auto" style="background-color: orangered;" >Go To Homepage</a>
									</div>
				</div>
			</div>
		</section>
	</body>
</html>