<!DOCTYPE html>
<html th:replace="patient/patientbase::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>Doctor Dashboard</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>

	<section>
		<h2>Add Doctor</h2>


		<!-- Main Wrapper -->
		<div class="main-wrapper login-body">
			<div class="login-wrapper">
				<div class="container">
					<div class="loginbox">
						<div class="login-left">
							<img class="img-fluid" src="../hospital/assets/img/logo-white.png" alt="Logo">
						</div>
						<div class="login-right">
							<div class="login-right-wrap">
								<div th:if="${msg}" class="py-4">
									<p th:text="${msg}" class="alert alert-success "></p>
								</div>
								<!--<h1 th:text="${doctor.id == null ? 'Add New doctor' : 'Edit doctor'}"></h1>

								<!-- Form -->
								<form method="post" th:object="${dto}" enctype="multipart/form-data">
									<div class="form-group">
										<input class="form-control" type="text" th:field="${dto.name}"
											placeholder="Name" required>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" th:field="${dto.age}" placeholder="Age"
											required>
									</div>
									<div class="form-group">
										<input class="form-control" type="date" th:field="${dto.dob}"
											placeholder="Date ">
									</div>
									<div class="form-group">
										<select class="form-control" th:field="${dto.gender}">
											<option value="">---select Gender----</option>
											<option value="Male">Male</option>
											<option value="Female">Famale</option>
											<option value="Other">Other</option>
										</select>
									</div>

									<div class="form-group">
										<input class="form-control" type="text" th:field="${dto.Specialization}"
											placeholder="Specialization..">
									</div>


									<div class="form-group">
										<input class="form-control" type="email" th:field="${dto.email}"
											placeholder="Email..">
									</div>
									<div class="form-group">
										<input class="form-control" type="tel" th:field="${dto.phone}"
											placeholder="Phone .....">
									</div>
									<div class="form-group">
										<input class="form-control" type="file" th:field="${dto.doctorpic}" required>
									</div>
									<div class="form-group mb-0">
										<button class="btn btn-primary btn-block" type="submit">Add Doctor</button>

									</div>
									<a class="text-danger mt-5" style="margin-top: 30px;"
										href="/patient/doctorlist">Back to List</a>
								</form>
								<!-- /Form -->



								<!-- Social Login -->

								<!-- /Social Login -->


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Main Wrapper -->


		<!-- /Page Wrapper -->
	</section>
</body>

</html>