<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
	<section>
		
		<!-- Preloader -->
		  <div class="preloader">
		      <div class="loader">
		          <div class="loader-outter"></div>
		          <div class="loader-inner"></div>

		          <div class="indicator">
		              <svg width="16px" height="12px">
		                  <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
		                  <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
		              </svg>
		          </div>
		      </div>
		  </div>
		  <!-- End Preloader -->
		  
		  <div class="main-wrapper shadow">
		        <!-- ============================================================== -->
		        <!-- Preloader - style you can find in spinners.css -->
		        <!-- ============================================================== --
		        <div class="preloader">
		            <div class="lds-ripple">
		                <div class="lds-pos"></div>
		                <div class="lds-pos"></div>
		            </div>
		        </div>
		        <!-- ============================================================== -->
		        <!-- Preloader - style you can find in spinners.css -->
		        <!-- ============================================================== -->
		        <!-- ============================================================== -->
		        <!-- Login box.scss -->
		        <!-- ============================================================== -->
		        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
		            style="background:url() no-repeat center center;">
		            <div class="auth-box row border shadow">
		                <div class="col-lg-6 col-md-6 modal-bg-img"
		                    style="background-image: url(../student/images/admin.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
								                </div>
		                <div class="col-lg-6 col-md-6 bg-white">
		                    <div class="p-3">
		                        <div class="text-center">
		                            <img src="../student/images/user.avif" class="" alt="wrapkit" style="width: 9rem;">
		                        </div>
								<div class="text-center" id="login">
								               <div th:if="${msg}" class="mt-3">
								                   <p th:text="${msg}" class="alert  border-0 text-dander"></p>
								               </div>

								        </div>
		                        <h2 class="mt-3 text-center">Admin Login </h2>
		                        <p class="text-center">Enter your userId and password to access Admin Login.</p>
		                        <form class="mt-4 " method="post" th:object="${dto}">
		                            <div class="row">
		                                <div class="col-lg-12">
		                                    <div class="form-group mb-3">
		                                        <label class="form-label text-dark" for="uname">UserId</label>
		                                        <input class="form-control py-2" th:field="${dto.userid}" id="uname" type="text"
		                                            placeholder="enter your username" autocomplete="off">
		                                    </div>
		                                </div>
		                                <div class="col-lg-12">
		                                    <div class="form-group mb-3">
		                                        <label class="form-label text-dark" for="pwd">Password</label>
		                                        <input class="form-control py-2" th:field="${dto.password}" id="pwd" type="password"
		                                            placeholder="enter your password" autocomplete="off">
		                                    </div>
		                                </div>
		                                <div class="col-lg-12 text-center">
		                                    <button type="submit" class="btn w-100 btn-dark">Sign In</button>
		                                </div>
		                                <div class="col-lg-12 text-center mt-5">
		                                    Don't have an account? <a href="#" class="text-danger">Sign Up</a>
		                                </div>
		                            </div>
		                        </form>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- ============================================================== -->
		        <!-- Login box.scss -->
		        <!-- ============================================================== -->
		    </div>
			<!-- All Jquery -->
			   <script src="js/jquery/jquery.min.js"></script>
			   <!-- Bootstrap tether Core JavaScript -->
			   <script src="js/bootstrap/js/popper.min.js"></script>
			   <script src="js/bootstrap/js/bootstrap.min.js"></script>
	</section>
  </body>
</html>