<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<!-- Linking Google Fonts for Icons -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,200,0,0" />
	<!-- Linking Swiper CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">


	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
		rel="stylesheet">

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">



	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="css/nice-select.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- icofont CSS -->
	<link rel="stylesheet" href="css/icofont.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="css/slicknav.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="css/owl-carousel.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="css/datepicker.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="css/animate.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Medipro CSS -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/apply.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/apply.css">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	<!---modal-->


	<!--Modal box-->

	<!--/ Modal box-->
	<!-- Get Pro Button -->
	<ul class="pro-features">
		<a class="get-pro" href="#">Book Now</a>
		<li class="big-title">WhatsApp &#9990;:+91-6386254540 </li>
		<li class="title">Email-vishutekar@gmail.com</li>
		<li class="">Online Medicine</li>
		<li>Best fecalty</li>
		<li>MBBS Best Doctore</li>
		<li>Ambulance</li>
		<li>Working Contact Form With Google Map</li>
		<div class="button">
			<a href="#" target="_blank" class="btn">Online Medicine</a>
			<a href="#" target="_blank" class="btn">see Now</a>
		</div>
	</ul>


	<!-- Header Area -->
	<header class="header">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6 col-md-5 col-12 ">
						<!-- Contact -->
						<ul class="top-link">
							<li><a href="#">About</a></li>
							<li><a href="#">Pharmacy</a></li>
							<li><a href="#">Nep</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
						<!-- End Contact -->
					</div>
					<div class="col-lg-6 col-md-7 col-12">
						<!-- Top Contact -->
						<ul class="top-contact">
							<li><i class="fa fa-phone"></i>+880 1234 56789</li>
							<li><i class="fa fa-envelope"></i><a
									href="mailto:support@yourmail.com">unitedunivercity.edu.in</a></li>
						</ul>
						<!-- End Top Contact -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->

		<!-- Header Area -->


		<!-- Header Inner -->
		<div class="header-inner overlay">
			<div class="container-fluid">
				<div class="inner">
					<div class="row">
						<div class="col-sm-11 mx-auto p-0  m-0">
							<div class="row ">
								<div class="col-lg-2 col-md-2 col-12 ">
									<!-- Start Logo -->
									<div class="logo">
										<a href="#"><img src="placement/logo_small.png" alt="#"></a>
									</div>
									<!-- End Logo -->
									<!-- Mobile Nav -->
									<div class="mobile-nav">
										<p></p>
									</div>
									<!-- End Mobile Nav -->
								</div>
								<div class="col-lg-10 col-md-10 col-12  p-0 m-0 ">
									<!-- Main Menu -->
									<div class="main-menu">
										<nav class="navigation">
											<ul class="nav menu">
												<li><a href="/index" class="fw-bold fs-6 text-light ">Home</a>
												</li>
												<li><a href="#" class="fw-bold fs-6 text-light ">About Us<i
															class="icofont-rounded-down"></i></a>
													<ul class="dropdown " style="width: 76rem; left: -286px;">
														<div class="row m-0 p-0">
															<div class="col-sm-3" style="color: #000;">

																<li><span href="#"
																		style="font-weight: 600; font-size: 15px; color: #000;"
																		class=" border-bottom border-3 border-danger ms-3">About
																		Us
																	</span></li>
																<li><a href="#" style="font-size: 14px;">About
																		Us</a>
																</li>
																<li><a href="#" style="font-size: 14px;">vision
																		&
																		mission</a>
																</li>
																<li><a href="#" style="font-size: 14px;">milestones</a>
																</li>
																<li><a href="#" style="font-size: 14px;">Why
																		united?</a>
																</li>
																<li><span href="#"
																		style="font-weight: 600; font-size: 15px; color: #000;"
																		class=" border-bottom border-3 border-danger ms-3">Our
																		Leadership</span>
																</li>
																<li><a href="#" style="font-size: 14px;">Chancellor</a>

																</li>
																<li><a href="#" style="font-size: 14px;">Pro
																		Chancellor</a></li>
																<li><a href="#" style="font-size: 14px;">Chancellor</a>
																</li>
																<li><a href="#" style="font-size: 14px;">Vice
																		Chairman</a></li>
																<li><a href="#" style="font-size: 14px;">Vice
																		Chancellor</a>
																</li>


															</div>
															<div class="col-sm-3 px-4s">

																<li><span href="#"
																		style="font-weight: 600; font-size: 15px; color: #000;"
																		class=" border-bottom border-3 border-danger ms-3">United
																		Group
																	</span></li>
																<p class=" mt-2"
																	style="text-align: justify; line-height: 1.4; padding-top: 0px; text-justify: newspaper; color: #000;">
																	United Group established in the year
																	1998
																	with its
																	glorious
																	journey of 26 years in the field of
																	education;
																	highly
																	qualified and competent team of faculty;
																	enormous
																	world-class infrastructure & facilities
																	most
																	conducive to
																	academic
																	pursuit along with its remarkably
																	successful
																	campus
																	placements, proudly shares the launch of
																	its
																	revolutionizing
																	dream venture
																	<b>UNITED UNIVERSITY</b>, approved by
																	the
																	State
																	Government
																	under the Private University Act!
																</p>
																<div class="button mt-2 mb-2">

																	<a href="#"
																		style="padding: 10px 50px; color: black; margin-left: 20px;"
																		class="btn">Read
																		More</a>
																</div>
															</div>
															<div class="col-sm-6">

																<div class="card  mt-4 w-100 p-2 mb-1">
																	<img src="placement/About.jpeg"
																		class="card-img-top " alt="...">

																</div>


															</div>

														</div>
													</ul>
												</li>
												<li><a href="#" class="fw-bold fs-6 text-light">Course<i
															class="icofont-rounded-down"></i></a>
													<ul class="dropdown" style="width: 83rem; left: -450px;">
														<div class="row m-0 p-0">
															<div class="col-sm-3">
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Faculty
																		Arts</a></li>
																<li><a href="#" style="font-size: 13px;">BA(Honours)</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Faculty
																		Of
																		Science</a></li>
																<li><a href="#"
																		style="font-size: 13px;">B.Sc(Honours)</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Faculty
																		of
																		Nursing</a></li>
																<li><a href="#"
																		style="font-size: 13px;">B.sc(Nursing)</a>
																</li>
																<li><a href="#" style="font-size: 13px;">GNM</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Pharmacy</a>
																</li>
																<li><a href="#" style="font-size: 13px;">B.pharmacy</a>
																</li>
																<li><a href="#" style="font-size: 123x;">D.pharm</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px; ">Faculty
																		of
																		Hospitality</a></li>
																<li><a href="#" style="font-size: 13px;">
																		BHMCT</a></li>
																<li><a href="#" style="font-size: 13px;">Dipliama in
																		Hotel
																		Management</a></li>



															</div>
															<div class="col-sm-3">

																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Computer
																		Applications</a></li>
																<li><a href="#" style="font-size: 13px;">MCA</a>
																</li>
																<li><a href="#" style="font-size: 13px;">BCA</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Engineering
																		&
																		Technology</a></li>
																<li><a href="#" style="font-size: 13px;">B.Tech
																		(Honours)</a>
																</li>
																<li><a href="#" style="font-size: 13px;">Engineering
																		Diploma</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Faculty
																		Of
																		Law</a></li>
																<li><a href="#" style="font-size: 13px;">BA
																		LLB</a></li>
																<li><a href="#" style="font-size: 13px;">BA
																		LLB
																		Honours</a></li>
																<li><a href="#" style="font-size: 13px;">BBA
																		LLB</a>
																</li>
																<li><a href="#" style="font-size: 13px;">LLB</a>
																</li>
																<li><a href="#" style="font-size: 13px;">LLM</a>
																</li>
																<li><a href="#" style="font-size: 13px;">LLB
																		Exec</a>
																</li>


															</div>
															<div class="col-sm-3">




																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Agriculture
																		&
																		Allied Sciences</a></li>
																<li><a href="#" style="font-size: 13px;">B.Sc
																		(Honours)</a>
																</li>
																<li><a href="#" style="font-size: 13px;">M.Sc
																		Ag</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Mass
																		Communication & Journalism</a></li>
																<li><a href="#" style="font-size: 13px;">B.A
																		JMC
																		(Honours)</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Faculty
																		of
																		Design</a></li>
																<li><a href="#" style="font-size: 13px;">B.Des</a>
																</li>
																<li><a href="#" style="font-size: 13px;">Diploma
																		In
																		Fashion
																		Design</a></li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Commerce
																		&
																		Management</a></li>
																<li><a href="#" style="font-size: 13px;">B.Com
																		(Honours)</a>
																</li>
																<li><a href="#" style="font-size: 13px;">M.Com</a>
																</li>
																<li><a href="#" style="font-size: 13px;">MBA</a>
																</li>
																<li><a href="#" style="font-size: 13px;">BBA</a>
																</li>
																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Doctoral
																		Program</a></li>
																<li><a href="#" style="font-size: 13px;">PHD</a>
																</li>
																<li><a href="#" style="font-size: 13px;">PHD
																		In
																		Medical
																		Science</a></li>

															</div>
															<div class="col-sm-3">

																<li><a href="#"
																		style="font-weight: 600; font-size: 16px;">Faculty
																		of Medical Science</a></li>
																<li><a href="#" style="font-size: 13px;">MBBS</a>
																</li>
																<li><a href="#" style="font-size: 13px;">M.Sc
																		(Macanical
																		Biochemistry)</a></li>
																<li><a href="#" style="font-size: 13px;">M.Sc
																		(Medical
																		Anatomy)</a></li>
																<li><a href="#" style="font-size: 13px;">M.Sc
																		(Medical
																		Microbiology)</a></li>


																<div class="button">

																	<a href="#"
																		style="padding: 10px 30px; color: black; margin-left: 20px;"
																		class="btn">see
																		Now</a>
																</div>
															</div>
														</div>
													</ul>
												</li>
												<li><a href="#" class="fw-bold fs-6 text-light">Admission<i
															class="icofont-rounded-down"></i></a>
													<ul class="dropdown" style="width: 48rem;">

														<div class="row">
															<div class="col-sm-6  ps-5  py-3 ">

																<li><a href="#"
																		style="font-weight: 600; font-size: 18px;"
																		class="ps-5">Admissions</a>
																</li>
																<li><a href="/apply" style="font-size: 14px;"
																		class="ps-5">Apply
																		Now</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Free
																		Structures</a>
																</li>
																<li><a href="#" class="ps-5">Bus/Hostel
																		Fee</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Anti
																		Ragging</a></li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Scholarship</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Admission
																		Helpline</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Admission
																		Offices</a>

																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Online
																		Fees
																		payments</a></li>

															</div>
															<div class="col-sm-6 pe-5">
																<div class="card  mt-5 w-100 p-3"
																	style="width: 15rem; ">
																	<img src="placement/admission.jpeg"
																		class="card-img-top " alt="...">

																</div>
															</div>
														</div>
													</ul>
												</li>
												<li><a href="#" class="fw-bold fs-6 text-light">Placement<i
															class="icofont-rounded-down"></i></a>
													<ul class="dropdown" style="width: 43.5rem;">

														<div class="row">
															<div class="col-sm-6 ps-5  py-3">

																<li><a href="#"
																		style="font-weight: 600; font-size: 15px;"
																		class="ps-5">Placement</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Our
																		Placement</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Placed
																		Students</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Placement
																		Activities</a></li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Placement
																		Highlight</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Placement
																		Training</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Global Tie
																		Uts</a>
																</li>




															</div>
															<div class="col-sm-6 pe-5">
																<div class="card border-0 mt-3 w-100 p-4"
																	style="width: 15rem;">
																	<img src="placement/Placement.jpg"
																		class="card-img-top" alt="...">

																</div>
															</div>
														</div>
													</ul>
												</li>

												<li><a href="#" class="fw-bold fs-6 text-light">Gallary<i
															class="icofont-rounded-down"></i></a>
													<ul class="dropdown" style="width: 40rem; left: -150px;">

														<div class="row">
															<div class="col-sm-6 ps-5  py-3">

																<li><a href="#"
																		style="font-weight: 600; font-size: 15px;"
																		class="ps-5">Gallary & Event</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Photo
																		Gallary</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Media
																		Gallary
																	</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Video
																		Gallary
																	</a></li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Placement
																		Gallary
																	</a>
																</li>




															</div>
															<div class="col-sm-6 pe-5">
																<div class="card border-0 mt-3 w-100 p-4"
																	style="width: 15rem;">
																	<img src="placement/gallery.jpg"
																		class="card-img-top" alt="...">

																</div>
															</div>
														</div>
													</ul>
												</li>
												<li><a href="#" class="fw-bold fs-6 text-light">Download<i
															class="icofont-rounded-down"></i></a>
													<ul class="dropdown" style="width: 39rem; left: -230px;">

														<div class="row">
															<div class="col-sm-6 ps-5  py-3">

																<li><a href="#"
																		style="font-weight: 600; font-size: 15px;"
																		class="ps-5">Download &
																		Resources</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Syllabus
																	</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Entrance
																		Test Simple Paper

																	</a>
																</li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Institute
																		Dervelopment Program [IDP]

																	</a></li>
																<li><a href="#" style="font-size: 14px;"
																		class="ps-5">Other
																		Resources

																	</a>
																</li>




															</div>
															<div class="col-sm-6 pe-">
																<div class="card border-0 w-50 mt-5 "
																	style="width: 16rem;">
																	<img src="placement/download.png"
																		class="card-img-top" alt="...">

																</div>
															</div>
														</div>
													</ul>
												</li>


												<!--<li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
		                                            <ul class="dropdown">
		                                                <li><a href="404.html">404 Error</a></li>
		                                            </ul>
		                                        </li>-->
												<li><a href="/contact" class="fw-bold fs-6 text-light">Contact
														US</a>
												</li>



												<li>&nbsp;&nbsp;<a href="#" class="fw-bold fs-6 text-light">Login<i
															class="icofont-rounded-down"></i></a>
													<ul class="dropdown">
														<li><a href="/studentlogin" style="text-align: center;"
																class="fw-bold fs-6">Student Login</a>
														</li>
														<li><a href="/patientlogin" style="text-align: center;"
																class="fw-bold fs-6">Patients Login</a>
														</li>
														<li><a href="/adminlogin" style="text-align: center;"
																class="fw-bold fs-6">Admin
																Login</a>
														</li>
													</ul>
												</li>
											</ul>
										</nav>
									</div>
									<!--/ End Main Menu -->
								</div>
								<!--<div class="col-lg-1">
		                                    <div class="get-quote ">
		                                        <a href="appointment.html" class="btn ">Apply Now</a>
		                                    </div>
		    
		                                </div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- ***** Main Banner Area Start ***** -->
	<div class="section main-banner" id="top" data-section="">
		<video id="bg-video" autoplay muted loop>
			<source src="img/course-video.mp4" type="video/mp4" />
		</video>

		<div class="video-overlay header-text">
			<div class="caption">
				<h6>Graduate School of Management</h6>
				<h2><em>UNITED</em> UNIVERCITY</h2>
				<div class="main-button">
					<!--<div class="scroll-to-section"><a href="#section2">Discover more</a></div>-->
					<a href="#" class="btn text-light">Apply</a> &nbsp; &nbsp;<a href="#"
						class="btn text-light">Section</a>

				</div>

			</div>
			<a href="#feature" class="mouse-hover">
				<div class="mouse"></div>
			</a>
		</div>
		</section>
		<!-- ***** Main Banner Area End ***** -->


	</div>
	<!-- Breadcrumbs -->
	<div class="breadcrumbs overlay"
		style="background-image: url(img/admission.jpg);  background-repeat: no-repeat; background-position: center; background-size: cover;">
		<div class="container">
			<div class="bread-inner">
				<div class="row">
					<div class="col-12">
						<h2>Admission</h2>
						<ul class="bread-list">
							<li><a href="index.html">Home</a></li>
							<li><i class="icofont-simple-right"></i></li>
							<li class="active">Admission</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-11 mx-auto p-0 m-0">
				<h5 class="mt-4 border-start border-4 py-2 border-primary ps-2 text-primary" style="-webkit-border-top-left-radius: 15px;
			                  -moz-border-radius-topleft: 15px;
			                  border-top-left-radius: 15px; font-size: 27px;">Apply Now
				</h5>
				<hr style="border-color: #0c4d8d;">
				<div class="row ">
					<span class="fs-3 fw-bold me-5 text-center">Admission Form</span>
					<div class="col-sm-3 mt-2">
						<div class="card p-2" style="width: 16.5rem;">
							<ul class="list-group list-group-flush "
								style="clip-path: polygon(0 0, 94% 0, 94% 8%, 100% 14%, 94% 18%, 94% 100%, 0 100%); background-color: #fff3cd;">
								<li class="list-group-item" style="background-color: #fdc800;">Personal Details</li>
								<li class="list-group-item bg-warning-subtle">Address Field</li>
								<li class="list-group-item bg-warning-subtle">Account Info</li>
							</ul>
						</div>
						<div class="card mt-3 p-2" style="width: 16.5rem;">
							<div class="widget-title">
								<h6>Registration Process</h6>
								<hr style="margin-left: 0;" />
							</div>
							<ul class="check" style="font-size: 13px;">
								<li><a href="#"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;Step
										1:

										<br />
										<p class="step_P">Fill Applicant's Details</p>
									</a></li>
								<li><a href="#"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;Step 2:

										<br />
										<p class="step_P">Save the application</p>
									</a></li>
								<li><a href="#"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;Step 3:

										<br />
										<p class="step_P">Pay the Application Fee</p>
									</a></li>
							</ul>
						</div>
						<div class="card mt-4 p-2" style="width: 16.5rem;">
							<div class="widget-title">
								<span class="border-bottom fs-6 fw-semibold">important Links</span>

							</div>
							<ul class="check" style="font-size: 13px;">
								<li><a href="#">Privacy Policy</a></li>
								<li>
									<a href="#">Terms &amp; Conditions</a>
								</li>
								<li>
									<a href="#">Refund Policy</a>
								</li>
							</ul>
							<!-- end entry -->
							<a href="#" class="py-2">
								<img src="img/btn-entranceTestSamplePapers.gif" style="width:95%" /></a>
							</ul>
						</div>
					</div>
					<div class="col-sm-9">
						<div th:if="${massage}" class="py-4">
							<p th:text="${massage}" class="alert alert-success "></p>
						</div>
						<div class="">
							<form id="myForm" class="form mt-2" method="post" th:objct="${dto}"
								enctype="multipart/form-data">
								<div class="group-one  " id="one">
									<fieldset style="padding: 30px;">
										<legend>Personel Details</legend>
										<div class="formgroup">
											<div class="formcontrol">
												<label for="name">
													Name
													<span style="color: red;">*</span>
												</label>
												<input type="text" id="name" th:field="${dto.name}" class="input"
													placeholder="Enter your name" aria-required="true">
												<span id="name-error" class="error-message" role="alert"></span>
											</div>
											<div class="formcontrol">
												<label for="gender">
													Gender
													<span style="color: red;">*</span>
												</label>
												<select id="gender" class="select" name="gender"
													th:field="${dto.gender}" aria-required="true">
													<option value="">---select gender----</option>
													<option value="male">Male</option>
													<option value="female">Female</option>
													<option value="other">Other</option>
												</select>
												<!--<input type="number" id="idNum" name="idNum" placeholder="Enter your ID number"
			                                              aria-required="true">-->
												<span id="gen-error" class="error-message" role="alert"></span>
											</div>
										</div>
										<div class="formgroup">
											<div class="formcontrol">
												<label for="email">
													Email
													<span style="color: red;">*</span>
												</label>
												<input type="email" th:field="${dto.email}" id="email" class="input"
													name="email" placeholder="Enter your email" aria-required="true">
												<span id="email-error" class="error-message" role="alert"></span>
											</div>
											<div class="formcontrol" style="padding-right: 10px; padding-left: 0px;">
												<label for="birthdate">
													Date of Birth
													<span style="color: red;">*</span>
												</label>
												<input type="date" id="birthdate" th:field="${dto.dob}" class="input"
													name="birthdate" max="2006-10-01" min="1924-01-01"
													aria-required="true">
												<span id="bd-error" class="error-message" role="alert"></span>
												<span id="error"></span>
											</div>


										</div>
										<!---- <div class="form-control">
			                                      <label for="contact">
			                                          Contact NO:
			                                          <span style="color: red;">*</span>
			                                      </label>
			                                      <input type="text" id="contact" name="contact" placeholder="Enter your contact no" aria-required="true">
			                                      <span id="cont-error" class="error-message" role="alert"></span>
			                                  </div>-->
										<span style="font-size: 18px;"> <mark>Instruction:</mark> </span>
										<ul>
											<li>minimum age 18 plus </li>
											<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta commodi
												optio</li>
											<li> cupiditate sed animi, praesentium quisquam? Animi, nemo excepturi odio
												porro</li>
											<li>nobis impedit, delectus dolores id, dolore iure a doloribus?</li>
										</ul>


										<div class="formcontrol">
											<input type="checkbox" class="input" name="terms" id="term"
												aria-required="true">
											<label for="terms">
												I agree to the terms and conditions
												<span style="color: red;">*</span>
											</label>
											<span id="term-error" class="error-message" role="alert"></span>
										</div>
									</fieldset>
								</div>
								<div class="group-two" id="two">
									<fieldset style="padding: 30px;">
										<legend>Address Field</legend>
										<div class="formgroup">
											<div class="formcontrol">
												<label for="vill">
													Village/ city
													<span style="color: red;">*</span>
												</label>
												<input type="text" id="vill" th:field="${dto.city}" class="input"
													name="vill" placeholder="Enter your vill" aria-required="true">
												<span id="vil-error" class="error-message" role="alert"></span>
											</div>
											<div class="formcontrol">
												<label for="Dist">
													District
													<span style="color: red;">*</span>
												</label>
												<input type="text" id="dist" class="input" th:field="${dto.dist}"
													placeholder="Enter your dist" name="dist" aria-required="true">
												<span id="di-error" class="error-message" role="alert"></span>
												<span id="error"></span>
											</div>


										</div>
										<div class="formgroup">
											<div class="formcontrol">
												<label for="stete">
													State
													<span style="color: red;">*</span>
												</label>
												<select id="state" class="select" th:field="${dto.state}" name="State"
													aria-required="true">
													<option value="">Select State</option>
													<option value="up">utter pradesh</option>
													<option value="mp">Madhya pradesh</option>
													<option value="delhi">Delhi</option>
													<option value="haryana">haryana</option>
												</select>
												<span id="st-error" class="error-message" role="alert"></span>
											</div>
											<div class="formcontrol">
												<label for="country">
													Country
													<span style="color: red;">*</span>
												</label>
												<select id="country" class="select" th:field="${dto.country}"
													name="country" aria-required="true">
													<option value="">Select a department</option>
													<option value="india">India</option>
												</select>
												<span id="co-error" class="error-message" role="alert"></span>
												<span id="error"></span>
											</div>


										</div>
										<div class="formgroup">
											<div class="formcontrol">
												<label for="document">
													Upload image
													<span style="color: red;">*</span>
												</label>
												<input type="file" th:field="${dto.profilepic}" class="input"
													name="document" id="document">
												<span id="doc-error" class="error-message" role="alert"></span>

											</div>
											<div class="formcontrol">
												<label for="document">
													year
													<span style="color: red;">*</span>
												</label>
												<select id="" class="select" th:field="${dto.year}"
													aria-required="true">
													<option value="">---Select your Year---</option>
													<option value="1st year">1st Year</option>
													<option value="2nd year">2nd Year</option>
													<option value="3rd year">3rd Year</option>
													<option value="4th year">4rt Year</option>
													<option value="Finel year">Finel Year</option>
												</select>

												<!---<span id="doc-error" class="error-message" role="alert"></span>-->

											</div>
										</div>
										<div class="formcontrol">
											<label for="department">
												Program
												<span style="color: red;">*</span>
											</label>
											<select id="department" class="select" th:field="${dto.program}"
												name="department" aria-required="true">
												<option value="">--select program--</option>
												<option value="Diploma">Diploma</option>
												<option value="Btech">B.tech</option>
												<option value="Mtech">M.tech</option>
												<option value="Mca">Mca</option>

											</select>
											<span id="dept-error" class="error-message" role="alert"></span>
										</div>
									</fieldset>
								</div>
								<div class="group-three" id="three-1">
									<fieldset>
										<legend>Account Info</legend>
										<div class="formgroup">
											<div class="formcontrol">
												<label for="username">
													username
													<span style="color: red;">*</span>
												</label>
												<input type="text" id="user" th:field="${dto.username}" class="input"
													name="username" placeholder="Enter your username"
													aria-required="true">
												<span id="us-error" class="error-message" role="alert"></span>
											</div>
											<div class="formcontrol">
												<label for="password">
													password
													<span style="color: red;">*</span>
												</label>
												<input type="password" class="input" id="pass"
													th:field="${dto.password}" placeholder="Enter your password"
													name="password" aria-required="true">
												<span id="pa-error" class="error-message" role="alert"></span>
												<span id="error"></span>
											</div>


										</div>
										<div class="formgroup">
											<div class="formcontrol">
												<label for="contact">
													Contact NO:
													<span style="color: red;">*</span>
												</label>
												<input type="tel" class="input" id="contactNo" name="contact"
													th:field="${dto.contactno}" placeholder="Enter your contact no"
													aria-required="true" autocomplete="tel">
												<span id="cont-error" class="error-message" role="alert"></span>
											</div>
											<div class="formcontrol">
												<label for="Intermediate">
													HighSchool marks
													<span style="color: red;">*</span>
												</label>
												<input type="text" id="high-m" th:field="${dto.highschool}"
													class="input" name="inter" placeholder="Enter your 12th marks"
													aria-required="true">
												<span id="hi-error" class="error-message" role="alert"></span>
											</div>

										</div>
										<div class="formgroup">
											<div class="formcontrol">
												<label for="Intermediate">
													Intermediate marks
													<span style="color: red;">*</span>
												</label>
												<input type="text" id="inter-m" class="input" name="inter"
													placeholder="Enter your 12th marks" th:field="${dto.intermediate}"
													aria-required="true">
												<span id="int-error" class="error-message" role="alert"></span>
											</div>
											<div class="formcontrol">
												<label for="branch">
													Branch
													<span style="color: red;">*</span>
												</label>
												<select id="branch" class="select" th:field="${dto.branch}"
													aria-required="true">
													<option value="">---Select Branch-</option>
													<option value="Computer Science">Computer Science</option>
													<option value="Civil">Civil</option>
													<option value="Machanical">Macanical</option>
													<option value="Electronics">Electrical</option>
												</select>
												<span id="br-error" class="error-message" role="alert"></span>
												<span id="error"></span>
											</div>
										</div>
										<div class="formcontrol">
											<label for="skills">Skills (Optional)</label>
											<textarea id="skills" class="textarea" name="skills" rows="4"
												placeholder="Enter your skills"></textarea>
										</div>
										<div class="formscontrol">
											<input type="checkbox" class="input" name="terms" id="terms"
												aria-required="true">
											<label for="terms">
												I agree to the terms and conditions
												<span style="color: red;">*</span>
											</label>
											<span id="terms-error" class="error-message" role="alert"></span>
										</div>
									</fieldset>
								</div>
								<div class="group-four" id="four" aria-label="Form Summary">
									<fieldset style="padding: 30px; margin-bottom: 5px;">
										<div class="summary-section">
											<p>Name: </p>
											<p id="name-val"></p>
											<button class="edit-btns" id="name-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>Gender: </p>
											<p id="gen-val"></p>
											<button class="edit-btns" id="gen-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>

										</div>
										<div class="summary-section">
											<p>Email: </p>
											<p id="email-val"></p>
											<button class="edit-btns" id="email-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>

										</div>
										<div class="summary-section">
											<p>Date of Birth: </p>
											<p id="bd-val"></p>
											<button class="edit-btns" id="bd-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>Village/city: </p>
											<p id="vil-val"></p>
											<button class="edit-btns" id="vil-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>District: </p>
											<p id="di-val"></p>
											<button class="edit-btns" id="di-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>state: </p>
											<p id="st-val"></p>
											<button class="edit-btns" id="st-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>District: </p>
											<p id="co-val"></p>
											<button class="edit-btns" id="co-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>CV/Resume: </p>
											<p id="cv-val"></p>
											<button class="edit-btns" id="cv-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>Department: </p>
											<p id="dept-val"></p>
											<button class="edit-btns" id="dept-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>userName: </p>
											<p id="us-val"></p>
											<button class="edit-btns" id="us-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>Password: </p>
											<p id="pa-val"></p>
											<button class="edit-btns" id="pa-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>Contact: </p>
											<p id="cont-val"></p>
											<button class="edit-btns" id="cont-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>HighSchool Marks: </p>
											<p id="hi-val"></p>
											<button class="edit-btns" id="hi-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>Inter Marks: </p>
											<p id="int-val"></p>
											<button class="edit-btns" id="int-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>Branch: </p>
											<p id="br-val"></p>
											<button class="edit-btns" id="br-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
										<div class="summary-section">
											<p>Skills: </p>
											<p id="skills-val"></p>
											<button class="edit-btns" id="skills-edit">
												<span>✎</span>
												<span>Edit</span>
											</button>
										</div>
									</fieldset>
									<div class="sweetalert">
										<button type="submit">Confirm and
											Submit</button>
									</div>
								</div>
								<div class="arrows">
									<button class="nav-group" id="navLeft" type="button" aria-label="Previous step">
										<span class="arrow-left">&#8592;</span>
										<span>Previous</span>
									</button>
									<span id="stepInfo" role="status" aria-live="polite"></span>
									<button class="nav-group" id="navRight" type="button" aria-label="Next step">
										<span>Continue</span>
										<span class="arrow-right">&#8594;</span>
									</button>
								</div>


							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Footer Area -->
	<footer id="footer" style="margin-top: 500px; z-index: -1;" class="footer mt-1">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>About Us</h2>
							<p>United Group established in the year 1998 with its glorious journey of 32 years in the
								field of education; highly qualified and competent team of faculty
							</p>
							<span class="text-light fw-bold">Call :</span><span class="text-light">+91
								xxxxxxxxxxx</span><br>
							<span class="text-light fw-bold">Email :</span><span
								class="text-light">demo@gmail.com</span>

							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="#"><i class="icofont-google-plus"></i></a></li>
								<li><a href="#"><i class="icofont-twitter"></i></a></li>
								<li><a href="#"><i class="icofont-vimeo"></i></a></li>
								<li><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About
												Us</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our
												Cases</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other
												Links</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Consuling</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right"
													aria-hidden="true"></i>Testimonials</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a>
										</li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact
												Us</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2> Office Address</h2>
							<p>Lorem ipsum dolor sit ame consectetur adipisicing elit do eiusmod
								tempor incididunt.
							</p>
							<ul class="time-sidual">
								<li class="day">Email :<span>unitedunivercity.edu.in</span></li>
								<li class="day">Call :<span>+91 180012168</span></li>
								<li class="day">Address : <span> United Tower, Ground Floor, 53, Leader Road
										Prayagraj, Uttar Pradesh 211003</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Newsletter</h2>
							<p>subscribe to our newsletter to get allour news in your inbox.. Lorem
								ipsum dolor sit
								amet, consectetur adipisicing elit,</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
									required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>© Copyright 2025 | All Rights Reserved by <a href="https://www.wpthemesgrid.com"
									target="_blank">United University</a>&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developed
								&
								Designed
								By : Vicky Singh</p>

						</div>

					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->
	<!-- Footer Area -->
	<!--/ End Footer Area -->
	<script src="js/jquery.min.js"></script>
	<script src="js/apply.js"></script>
	<!-- jquery Migrate JS -->
	<script src="js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
	<script src="js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Color JS -->
	<script src="js/colors.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="js/niceselect"></script>
	<!-- Tilt Jquery JS -->
	<script src="js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="js/steller.js"></script>
	<!-- Wow JS -->
	<script src="js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/video.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
	<script src="js/apply.js"></script>
	<script src="js/counterup.min.js"></script>
	<script src="js/waypoints.min.js">
	</script>
	<script src="js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>


	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>



</body>

</html>