<!doctype html>
<html  th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

</head>

<body>
<section>
	  <div class="container-fluid">
	      <div class="row border border-2 border-dark ">
	          <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12   bg-danger py-3 " style="   
	--mask: radial-gradient(27px at 100% 27px,#0000 98%,#000) 0 -27px;
	-webkit-mask: var(--mask);
	        mask: var(--mask);
	        ">
	              <h6 class="text-center text-light"><strong>Campus Updates</strong></h6>
	              <span></span>
	          </div>
	          <div class="col-sm-10  col-md-10 col-lg-10 col-xs-12  py-2">
	              <marquee direction="Left" onmouseover="this.stop();" onmouseout="this.start();">

	                  <span><a href='https://uniteduniversity.edu.in/Uploads/NewsPosts/NEWS00126.pdf' target="_blank"
	                          id="linkmsg">
	                          <img src="img/new.gif" style="width: 5%; margin-top: -5px;" />&nbsp;HOLIDAY LIST
	                          2025</a></span>
	                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                  <span><a href='https://uniteduniversity.edu.in/Uploads/Resources/UGC_2F_WITH%20ANNEXURES_2023.pdf'
	                          target="_blank" id="linkmsg">
	                          <img src="img/new.gif" style="width: 5%; margin-top: -5px;" />&nbsp;UGC FORM
	                          2F</a></span>

	              </marquee>
	          </div>
	      </div>
	      <div class="row">
	          <div class="col-sm-10 mx-auto py-5">
	              <div class="row mt-3">


	                  <div class="col-sm-4">
	                      <h1 class="text-center">Latest News</h1>
	                      <!--<img src="placement/latestNews.jpg" alt="">
	                      <div class="entry--meta">
	                          <span>02, Dec 2024</span>

	                      </div>
	                      <div class="entry--title">
	                          <h4><a href='NoticeDetails.aspx?N_Id=h1P4rHJJZr%2f4iR8MZAXuYIjsofSMTFKz6tow5WUUdJ0%3d'
	                                  class="Curt">ACADEMIC CALENDAR EVEN SEM 2024-25 (SENIOR)</a></h4>
	                      </div>
	                      <div class="entry--more">
	                          <a href='NoticeDetails.aspx?N_Id=h1P4rHJJZr%2f4iR8MZAXuYIjsofSMTFKz6tow5WUUdJ0%3d'>read
	                              more</a>
	                      </div>-->
	                      <div class="card p-2">

	                          <a href="#">
	                              <img src="placement/latestNews.jpg" class="w-100" alt="entry image" />
	                          </a>

	                          <div class="text-center">
	                              <span>02, Dec 2024</span>

	                          </div>
	                          <div class="text-center title">
	                              <h4><a href="#" class="Curt">ACADEMIC CALENDAR EVEN SEM 2024-25 (SENIOR)</a></h4>
	                          </div>
	                          <div class="text-center my-2">
	                              <a href='#' class="btn btn-primary">read
	                                  more</a>
	                          </div>
	                      </div>
	                  </div>
	                  <div class="col-sm-8 ps-3">
	                      <h1 class="text-center">placement Update</h1>
	                      <div class="card p-2" style="width: 45rem;">
	                          <img src="placement/9.jpg" class="card-img-top w-100" alt="">
	                      </div>
	                  </div>
	              </div>
	          </div>
	      </div>
	  </div>
	  <div id="fun-facts" class="fun-facts section ">
	      <div class="container">
	          <div class="row">
	              <div class="col-lg-3 col-md-6 col-12">
	                  <!-- Start Single Fun -->
	                  <div class="single-fun">


	                      <div class="content text-center">
	                          <i class="icofont icofont-home fs-1 p-2" style="height: 120px ; width: 120px;"></i>
	                          <span class="counter">34</span>
	                          <p class="fw-bold fs-4">Course</p>
	                      </div>
	                  </div>
	                  <!-- End Single Fun -->
	              </div>
	              <div class="col-lg-3 col-md-6 col-12">
	                  <!-- Start Single Fun -->
	                  <div class="single-fun">

	                      <div class="content text-center">
	                          <i class="icofont icofont-user-alt-3 p-2" style="height: 120px ; width: 120px;"></i>
	                          <span class="counter">557</span>
	                          <p class="fw-bold fs-4">Student </p>
	                      </div>
	                  </div>
	                  <!-- End Single Fun -->
	              </div>
	              <div class="col-lg-3 col-md-6 col-12">
	                  <!-- Start Single Fun -->
	                  <div class="single-fun">

	                      <div class="content text-center">
	                          <i class="icofont-simple-smile p-2" style="height: 120px ; width: 120px;"></i>
	                          <span class="counter">430</span>
	                          <p class="fw-bold fs-4">Placement</p>
	                      </div>
	                  </div>
	                  <!-- End Single Fun -->
	              </div>
	              <div class="col-lg-3 col-md-6 col-12">
	                  <!-- Start Single Fun -->
	                  <div class="single-fun">

	                      <div class="content text-center">
	                          <i class="icofont icofont-table p-2" style="height: 120px ; width: 120px;"></i>
	                          <span class="counter">32</span>
	                          <p class="fw-bold fs-4">Faculty</p>
	                      </div>
	                  </div>
	                  <!-- End Single Fun -->
	              </div>
	          </div>
	      </div>
	  </div>
	  <div class="row m-0 p-0" style="background-color: #fbf8ce;">

	      <div class="col-sm-10 mt-3 mx-auto">
	          <div class="row mt-4 bg-light pb-3">
	              <h1 class="text-center">Our program</h1>
	              <div class="col-sm-12 mt-3">
	                  <div class="wrapper-c">
	                      <i class="fas fa-angle-left" id="left"></i>
	                      <ul class="carousel-c">
	                          <div class="card p-2 text-center " style="width: 18.5rem;">
	                              <img src="img/pf1.jpg" class="card-img-top border w-100 p-2" style="width: 200px;"
	                                  alt="...">
	                              <h5 class="card-title"><a href="#"
	                                      class="link-underline link-underline-opacity-0">Doctor of
	                                      Philosophy</a></h5>
	                              <div class="card-body">
	                                  <p class="card-text">
	                                      Ph.D. || Ph.D.-Medical</p>
	                              </div>
	                              <div class="card-footer">
	                                  <small class="text-body-secondary">Read More>></small>
	                              </div>

	                          </div>

	                          <div class="card p-2 text-center" style="width: 18.5rem;">
	                              <img src="img/pf2.jpg" class="card-img-top p-2 w-100 border" style="width: 120px;"
	                                  alt="...">
	                              <h5 class="card-title"><a href="@"
	                                      class="link-underline link-underline-opacity-0">Faculty of
	                                      Agriculture and
	                                      Allied Sciences</a></h5>
	                              <div class="card-body">
	                                  <p class="card-text">
	                                      BSc-AG (Hons.) || MSc-AG</p>
	                              </div>
	                              <div class="card-footer">
	                                  <small class="text-body-secondary">Read More>></small>
	                              </div>

	                          </div>

	                          <div class="card p-2 text-center" style="width: 18.5rem;">
	                              <img src="img/pf3.jpg" class="card-img-top w-100 p-2 border" alt="...">
	                              <h5 class="card-title"><a href="#"
	                                      class="link-underline link-underline-opacity-0">Faculty of
	                                      Computer
	                                      Applications</a></h5>
	                              <div class="card-body">
	                                  <p class="card-text">
	                                      MCA || BCA</p>
	                              </div>
	                              <div class="card-footer">
	                                  <small class="text-body-secondary">Read More>></small>
	                              </div>

	                          </div>
	                          <div class="card p-2  text-center " style="width: 18.5rem;">
	                              <img src="img/pf4.jpg" class="card-img-top p-2 w-100 border" style="width: 120px;"
	                                  alt="...">
	                              <h5 class="card-title"><a href="#"
	                                      class="link-underline link-underline-opacity-0">Faculty of
	                                      Engineering &
	                                      Technology</a></h5>
	                              <div class="card-body">
	                                  <p class="card-text">
	                                      BTech || Engg. Diploma || BTech (Hons.)</p>
	                              </div>
	                              <div class="card-footer">
	                                  <small class="text-body-secondary">Read More>></small>
	                              </div>

	                          </div>

	                          <div class="card p-2 text-center" style="width: 18.5rem;">
	                              <img src="img/pf1.jpg" class="card-img-top w-100 border" style="width: 120px;"
	                                  alt="...">
	                              <h5 class="card-title"><a href="#"
	                                      class="link-underline link-underline-opacity-0">Faculty of
	                                      Hospitality</a>
	                              </h5>
	                              <div class="card-body">
	                                  <p class="card-text">
	                                      BHMCT || Diploma In Hotel Mgt</p>
	                              </div>
	                              <div class="card-footer">
	                                  <small class="text-body-secondary">Read More>></small>
	                              </div>

	                          </div>
	                          <div class="card p-2  text-center " style="width: 18.5rem;">
	                              <img src="img/pf2.jpg" class="card-img-top w-100 border" style="width: 120px;"
	                                  alt="...">
	                              <h5 class="card-title"><a href="#"
	                                      class="link-underline link-underline-opacity-0">Faculty of
	                                      Medical
	                                      Sciences</a></h5>
	                              <div class="card-body">
	                                  <p class="card-text">
	                                      MSc-BioChem || MSc-Anatomy || MSc-MicroBiology</p>
	                              </div>
	                              <div class="card-footer">
	                                  <small class="text-body-secondary">Read More>></small>
	                              </div>

	                          </div>
	                      </ul>
	                      <i class="fas fa-angle-right" id="right"></i>
	                  </div>
	              </div>
	          </div>
	          <div class="row mt-5 bg-light">
	              <h1 class="text-center my-3">Campus Life</h1>
	              <div class="col-sm-3">
	                  <div class="card p-2 border" style="width: 17rem;">
	                      <img class="card-img-top w-100" src="placement/lib1.jpeg">


	                  </div>
	              </div>

	              <div class="col-sm-3 ">
	                  <div class="card p-2 border" style="width: 17rem;">
	                      <img class="card-img-top w-100" src="placement/lib2.jpeg">



	                  </div>
	              </div>

	              <div class="col-sm-3 ">
	                  <div class="card p-2 border" style="width: 17rem;">
	                      <img class="card-img-top w-100" src="placement/lib3.jpeg">



	                  </div>
	              </div>

	              <div class="col-sm-3 ">
	                  <div class="card border p-2" style="width: 17rem;">
	                      <img class="card-img-top w-100" src="placement/lib4.jpeg">



	                  </div>
	              </div>
	              <div class="col-sm-3 mt-2">
	                  <div class="card border p-2" style="width: 17rem;">
	                      <img class="card-img-top w-100" src="placement/lib5.jpeg">



	                  </div>
	              </div>
	              <div class="col-sm-3 mt-2">
	                  <div class="card border p-2" style="width: 17rem;">
	                      <img class="card-img-top w-100" src="placement/lib6.jpeg">



	                  </div>
	              </div>
	              <div class="col-sm-3 mt-2">
	                  <div class="card border p-2" style="width: 17rem;">
	                      <img class="card-img-top w-100" src="placement/lib7.jpeg">



	                  </div>
	              </div>
	              <div class="col-sm-3 mt-2">
	                  <div class="card border p-2" style="width: 17rem;">
	                      <img class="card-img-top w-100" src="placement/lib8.jpeg">



	                  </div>
	              </div>
	          </div>
	      </div>

	  </div>
	  <div class="row m-0 p-0" style="background-color: #fbf8ce;">
	      <div class="col-sm-10 mt-5 mx-auto">
	          <div class="row mt-3 bg-light">

	              <div class="col-sm-6">
	                  <h1 class="py-4"><mark>Global Opportunities</mark></h1>
	                  <p style="font-weight: bold;">Go Further… Go Global… Internal Collaborations for Learning !</p>
	                  <p style="text-align: justify;">
	                      At United University, we aspire to offer more than just India-based educational experience.
	                      United University has academic collaboration with the International Universities/ Institutions,
	                      which has provided an umbrella for internationality, innovation, integration, information,
	                      technology and industrial partnership to all the bright souls of the group.
	                  </p>
	                  <p style="text-align: justify;">Situated in Uttar Pradesh, the university, through its robust
	                      network aims to offer you the opportunity to go global and to develop transferable skills that
	                      strengthens your future career. Employers also acknowledge that spending time abroad as a part
	                      of study/work/placement brings maturity, builds self-awareness and self-confidence, develops a
	                      global perspective, improves language and communication skills and facilitates adaptability to
	                      the new environments and challenges.</p>
	              </div>

	              <div class="col-sm-6 p-0 m-0 border p-2">
	                  <img src="placement/3.jpeg" class="w-100 " alt="">
	              </div>

	          </div>

	      </div>
	  </div>
	  <div class="row m-0 p-0" style="background-color: #fbf8ce;">
	      <div class="col-sm-10 mt-5 mx-auto">
	          <div class="row mt-3 bg-light">

	              <div class="col-sm-12  shadow">
	                  <h1 class="text-center">Corporate Video</h1>

	                  <iframe class="p-2" src="https://www.youtube.com/embed/FzqlrYNb2O4?version=3&amp;rel=0"
	                      id="CorporateVideo" style="width: 100%; height: 467px; border: 2px solid #144e8c;"></iframe>
	              </div>


	          </div>
	          <div class="row mt-2">
	              <div class="col-sm-12">
	                  <!-- Start portfolio -->
	                  <section class="portfolio section">
	                      <div class="container">
	                          <div class="row">

	                              <div class="section-title">
	                                  <h2>Testimonials </h2>

	                                  <p>Our Happy Students</p>

	                              </div>
	                          </div>
	                      </div>
	                      <div class="container-fluid">
	                          <div class="row">
	                              <div class="col-lg-12 col-12">
	                                  <div class="owl-carousel portfolio-slider">
	                                      <div class="single-pf ">
	                                          <div class="card" style="width: 15rem;">
	                                              <img src="img/pf1.jpg"
	                                                  class="rounded mx-auto d-block mt-2 rounded-circle"
	                                                  style="width: 200px ; height: 200px;" alt="...">
	                                              <div class="card-body text-center">
	                                                  <h5 class="card-title">Aadhya Chaturvedi</h5>
	                                                  <p class="card-text">In my experience all the teachers are very supportive and friendly and the placement process has been very smooth throughout.
	                                                      .</p>
	                                                  <a href="#" class="btn btn-primary">view details</a>
	                                              </div>
	                                          </div>
	                                          <!--- <img src="img/pf1.jpg" alt="#">
	                                          <a href="portfolio-details.html" class="btn">View Details</a>-->
	                                      </div>
	                                      <div class="single-pf ">
	                                          <div class="card" style="width: 15rem;">
	                                              <img src="img/pf1.jpg"
	                                                  class="rounded mx-auto d-block mt-2 rounded-circle"
	                                                  style="width: 200px ; height: 200px;" alt="...">
	                                              <div class="card-body text-center">
	                                                  <h5 class="card-title">Nitin Jangir</h5>
	                                                  <p class="card-text">
													  "My experience at Sharda University is great and memorable. The mentors at Sharda University helped us enhance my academic and interpersonal skills. 
	                                                      .</p>
	                                                  <a href="#" class="btn btn-primary">view details</a>
	                                              </div>
	                                          </div>
	                                      </div>
	                                      <div class="single-pf">
	                                          <div class="card" style="width: 15rem;">
	                                              <img src="img/pf1.jpg"
	                                                  class="rounded mx-auto d-block mt-2 rounded-circle"
	                                                  style="width: 200px ; height: 200px;" alt="...">
	                                              <div class="card-body text-center">
	                                                  <h5 class="card-title">													Naveen Bansal
</h5>
	                                                  <p class="card-text">“It was a great experience studying at Sharda University, a memory to cherish for lifetime. My experience at Sharda was full of learning an
	                                               </p>
	                                                  <a href="#" class="btn btn-primary">view details</a>
	                                              </div>
	                                          </div>
	                                      </div>
	                                      <div class="single-pf">
	                                          <div class="card" style="width: 15rem;">
	                                              <img src="img/pf1.jpg"
	                                                  class="rounded mx-auto d-block mt-2 rounded-circle"
	                                                  style="width: 200px ; height: 200px;" alt="...">
	                                              <div class="card-body text-center">
	                                                  <h5 class="card-title">Aakash Sharma</h5>
	                                                  <p class="card-text">Sharda University has been a great contributor to the development of my personality. I have established my leadership, time mana
	                                                      .</p>
	                                                  <a href="#" class="btn btn-primary">view details</a>
	                                              </div>
	                                          </div>
	                                      </div>
	                                      <div class="single-pf">
	                                          <div class="card" style="width: 15rem;">
	                                              <img src="img/pf1.jpg"
	                                                  class="rounded mx-auto d-block mt-2 rounded-circle"
	                                                  style="width: 200px ; height: 200px;" alt="...">
	                                              <div class="card-body text-center">
	                                                  <h5 class="card-title">Sanchit Bhatnagar</h5>
	                                                  <p class="card-text">Great experience from Sharda. You get a lot of opportunities. Work hard to get it. Be prepared for everything. Maintain your attendance.
	                                                      .</p>
	                                                  <a href="#" class="btn btn-primary">view details</a>
	                                              </div>
	                                          </div>
	                                      </div>
	                                      <div class="single-pf">
	                                          <div class="card" style="width: 15rem;">
	                                              <img src="img/pf1.jpg"
	                                                  class="rounded mx-auto d-block mt-2 rounded-circle"
	                                                  style="width: 200px ; height: 200px;" alt="...">
	                                              <div class="card-body text-center">
	                                                  <h5 class="card-title">Harsh Pratap Singh</h5>
	                                                  <p class="card-text">Great experience from Sharda. You get a lot of opportunities. Work hard to get it. Be prepared for everything. 
	                                                      .</p>
	                                                  <a href="#" class="btn btn-primary">view details</a>
	                                              </div>
	                                          </div>
	                                      </div>
	                                      <div class="single-pf">
	                                          <div class="card" style="width: 15rem;">
	                                              <img src="img/pf1.jpg"
	                                                  class="rounded mx-auto d-block mt-2 rounded-circle"
	                                                  style="width: 200px ; height: 200px;" alt="...">
	                                              <div class="card-body text-center">
	                                                  <h5 class="card-title">vicky Singh</h5>
	                                                  <p class="card-text">Some quick example text
	                                                      .</p>
	                                                  <a href="#" class="btn btn-primary">view details</a>
	                                              </div>
	                                          </div>
	                                      </div>
	                                      <div class="single-pf">
	                                          <div class="card" style="width: 15rem;">
	                                              <img src="img/pf1.jpg"
	                                                  class="rounded mx-auto d-block mt-2 rounded-circle"
	                                                  style="width: 200px ; height: 200px;" alt="...">
	                                              <div class="card-body text-center">
	                                                  <h5 class="card-title">vicky Singh</h5>
	                                                  <p class="card-text">Some quick example text to build on the card
	                                                      .</p>
	                                                  <a href="#" class="btn btn-primary">view details</a>
	                                              </div>
	                                          </div>
	                                      </div>
	                                  </div>
	                              </div>
	                          </div>
	                      </div>
	                  </section>
	                  <!--/ End portfolio -->
	              </div>
	          </div>
	      </div>
	  </div>
	  <div class="clients overla ">
	      <div class="container">
	          <div class="row">
	              <div class="col-lg-12 col-md-12 col-12">
	                  <div class="owl-carousel clients-slider">
	                      <div class="single-clients">
	                          <img src="placement/Global_1.png" alt="#">
	                      </div>
	                      <div class="single-clients">
	                          <img src="placement/Global2.png" alt="#">
	                      </div>
	                      <div class="single-clients">
	                          <img src="placement/Global3.png" alt="#">
	                      </div>
	                      <div class="single-clients">
	                          <img src="placement/Global4.png" alt="#">
	                      </div>
	                      <div class="single-clients">
	                          <img src="placement/Global5.png" alt="#">
	                      </div>
	                      <div class="single-clients">
	                          <img src="placement/Global6.png" alt="#">
	                      </div>
	                      <div class="single-clients">
	                          <img src="placement/Global_1.png" alt="#">
	                      </div>
	                      <div class="single-clients">
	                          <img src="placement/Global2.png" alt="#">
	                      </div>
	                      <div class="single-clients">
	                          <img src="placement/Global6.png" alt="#">
	                      </div>
	                  </div>
	              </div>
	          </div>
	      </div>
	  </div>
</section>
   
</body>

</html>